@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.main_body {
  /* border: 2px solid red; */
  width: 85%;
  height: 95vh;
  padding: 5px;
}
.main_top {
  /* border: 2px solid blue; */
  width: 100%;
  height: 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.main_body .main_top .search {
  /* border: 1px solid red; */
  width: 40%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0px 12px;
  /* justify-content: center; */
}
.main_body .main_top .search input {
  width: 70%;
  background-color: transparent;
  border: none;
  height: 30px;
  color: #777b85;
  margin-left: 5px;
  font-family: "Manrope", sans-serif;
  border-radius: 5px;
}
.main_body .main_top .search input:focus {
  color: #777b85;
  border: none;
  font-family: "Manrope", sans-serif;
  border: none !important;
  outline: none !important;
  background-color: transparent;
}

.main_body .main_top .search button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #777b85;
  font-size: 13px;
}
.main_body .main_top .search button .icon {
  font-size: 17px;
}
.main_body .main_top .profile_info {
  /* border: 2px solid red; */
  display: inline-flex;
  align-items: center;
  justify-content: end;
  width: 40%;
  height: 100%;
  padding-right: 20px;
  color: #777b85;
  /* margin-left: 5px; */

  font-family: "Manrope", sans-serif;
}

.main_body .main_top .profile_info .profile_name {
  font-size: 16px;
  color: black;
  font-weight: 800;
}
.main_body .main_top .profile_info .profile_email {
  font-size: 12px;
}
.main_body .main_top .profile_info .profile_photo {
  margin-right: 15px;
  width: 40px;
  /* border: 2px solid red; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 800;
  background-color: #0560fd;
}
.main_body .main_top .profile_info .profile_photo h3 {
  color: white;
}
.main_body .main_center {
  /* border: 0.5px solid red; */
  height: 90%;
  padding: 5px 5px 0px 5px;
}

.main_body .main_center .totals {
  /* border: 2px solid blue; */
  width: 100%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-flex;
  flex-direction: row;
}
.main_body .main_center .totals .common {
  /* border: 1px solid red; */
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main_body .main_center .totals .total_revenus .total_top .common_icon {
  color: #ff45008f;
  background-color: rgb(253, 221, 161);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
.main_body .main_center .totals .total_revenus .total_top .total_text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.main_body .main_center .totals .total_revenus .total_top .common_icon {
  color: #ff45008f;
  background-color: rgb(253, 221, 161);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.main_body .main_center .totals .total_revenus .total_top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.main_body .main_center .totals .total_revenus .total_botom {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.main_body .main_center .totals .total_revenus .total_botom .common_text_icon {
  color: #777b85;
  font-size: 40px;
}
.main_body .main_center .totals .total_revenus .total_botom .common_text {
  color: #3e3e3e;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin: 0px 5px 0px 0px;
}
.main_body .main_center .totals .total_revenus .total_botom .total_sign {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: #00b900;
  font-size: 12px;
  width: 35px;
  height: 17px;
  border-radius: 8px;
  background-color: #09db0929;
}

.main_body
  .main_center
  .totals
  .total_revenus
  .total_botom
  .total_sign
  .total_icon {
  font-size: 12px;
}

.main_body .main_center .totals .total_invoices .total_top .total_text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.main_body .main_center .totals .total_invoices .total_top .common_icon {
  color: #015fb6e6;
  background-color: #015fb636;
  width: 24px;
  height: 24px;
  align-items: center;
  font-size: 17px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.main_body .main_center .totals .total_invoices .total_top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.main_body .main_center .totals .total_invoices .total_botom {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.main_body .main_center .totals .total_invoices .total_botom .common_text {
  color: #3e3e3e;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin: 0px 5px 0px 0px;
}
.main_body .main_center .totals .total_invoices .total_botom .total_sign {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: #00b900;
  font-size: 12px;
  width: 35px;
  height: 17px;
  border-radius: 8px;
  background-color: #09db0929;
}

.main_body
  .main_center
  .totals
  .total_invoices
  .total_botom
  .total_sign
  .total_icon {
  font-size: 12px;
}
.main_body .main_center .totals .total_invoices {
  border-left: 1px solid rgb(240, 236, 236);
  /* border: 2px solid red; */
}
.main_body .main_center .totals .total_clients .total_top .total_text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.main_body .main_center .totals .total_clients .total_top .common_icon {
  color: #01b639fc;
  background-color: #67ff6236;
  width: 24px;
  height: 24px;
  align-items: center;
  font-size: 17px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.main_body .main_center .totals .total_clients .total_top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.main_body .main_center .totals .total_clients .total_botom {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.main_body .main_center .totals .total_clients .total_botom .common_text {
  color: #3e3e3e;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin: 0px 5px 0px 0px;
}
.main_body .main_center .totals .total_clients .total_botom .total_sign {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: #00b900;
  font-size: 12px;
  width: 35px;
  height: 17px;
  border-radius: 8px;
  background-color: #09db0929;
}

.main_body
  .main_center
  .totals
  .total_clients
  .total_botom
  .total_sign
  .total_icon {
  font-size: 12px;
}
.main_body .main_center .totals .total_clients {
  border-left: 1px solid rgb(240, 236, 236);
  /* border: 2px solid red; */
}
.main_body .main_center .totals .total_loyality .total_top .total_text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.main_body .main_center .totals .total_loyality .total_top .common_icon {
  color: #ff0000;
  background-color: #db09092e;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.main_body .main_center .totals .total_loyality .total_top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.main_body .main_center .totals .total_loyality .total_botom {
  display: inline-flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.main_body .main_center .totals .total_loyality .total_botom .common_text {
  color: #3e3e3e;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  margin: 0px 5px 0px 0px;
}
.main_body .main_center .totals .total_loyality .total_botom .total_sign {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: #ff0000;
  font-size: 12px;
  width: 35px;
  height: 17px;
  border-radius: 8px;
  background-color: #db09092e;
}

.main_body
  .main_center
  .totals
  .total_loyality
  .total_botom
  .total_sign
  .total_icon {
  font-size: 12px;
}
.main_body .main_center .totals .total_loyality {
  border-left: 1px solid rgb(240, 236, 236);
  /* border: 2px solid red; */
}

.main_body .center_mid {
  width: 100%;

  height: 80%;
  display: inline-flex;
  flex-direction: column;
}
.main_body .center_mid .center {
  height: 55%;
  display: inline-flex;
  align-items: center;
  /* padding: 4px; */
}
.main_body .center_mid .center .graph {
  border-radius: 12px;
  width: 60%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.main_body .center_mid .center .graph .top_graph {
  padding: 12px 0px 0px 12px;
}
.main_body .center_mid .center .graph .top_graph h4 {
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  color: #777b85;
}
.main_body .center_mid .center .graph .top_graph .month_Rev {
  display: inline-flex;
}
.main_body .center_mid .center .graph .top_graph .month_Rev .icon {
  /* display: inline-flex; */
  color: #777b85;
  font-size: 28px;
}
.main_body .center_mid .center .graph .top_graph .month_Rev .amount {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}
.main_body .center_mid .center .graph .bar_graph {
  /* border: 2px solid red; */
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_body .center_mid .center .graph .bar_graph .bar {
  width: 5%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
}
.main_body .center_mid .center .graph .bar_graph .bar .jan_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  margin-top: 70px;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .feb_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .mar_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  margin-top: 90px;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .apr_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  margin-top: 80px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .may_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
  margin-top: 55px;
}
.main_body .center_mid .center .graph .bar_graph .bar .june_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .july_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  margin-top: 90px;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .aug_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  margin-top: 98px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .sep_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  margin-top: 40px;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
}
.main_body .center_mid .center .graph .bar_graph .bar .oct_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
  margin-top: 20px;
}
.main_body .center_mid .center .graph .bar_graph .bar .nov_graph {
  width: 100%;
  transition: background-color 0.3s;
  height: 95%;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-bottom: 2px;
  margin-top: 65px;
}
.main_body .center_mid .center .graph .bar_graph .bar .dec_graph {
  width: 100%;
  margin-bottom: 2px;
  height: 95%;
  border-radius: 8px;
  background-color: #b3b4b64f;
  margin-top: 70px;
  transition: background-color 0.3s;
}
.main_body .center_mid .center .graph .bar_graph .bar .jan_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .feb_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .mar_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .apr_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .may_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .june_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .july_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .aug_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .sep_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .oct_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .nov_graph:hover,
.main_body .center_mid .center .graph .bar_graph .bar .dec_graph:hover {
  background-color: #0560fd; /* Change the background color on hover */
}
.main_body .center_mid .center .center_right {
  width: 39%;
  height: 90%;
  margin-left: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px 24px;
}
.main_body .center_mid .center .center_right .invoice_heading {
  color: #777b85;
  font-family: "Manrope", sans-serif;
}
.main_body .center_mid .center .center_right .table-container {
  /* border: 2px solid red; */
  overflow: auto;
  width: 100%;
  height: 90%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.main_body .center_mid .center .center_right .table-container .table_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
  border-top: 0.1px solid #5454554f;
  border-bottom: 0.1px solid #5454554f;
  padding: 4px 0px;
  font-family: "Manrope", sans-serif;
  color: #777b85;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_heading
  .heading {
  /* border: 2px solid red; */
  width: 20%;
  text-align: center;
}

.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content
  table {
  width: 100%;
  border-collapse: collapse;
}
.main_body .center_mid .center .center_right .table-container .table_content {
  /* overflow: auto;
   */
  overflow-y: scroll; /* Hide the vertical scrollbar */
  scroll-behavior: smooth;
}
.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content::-webkit-scrollbar {
  overflow-y: scroll;
  width: 0px;
  scroll-behavior: smooth;
}

.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content
  table
  tbody
  tr
  td {
  font-size: 10px;
  /* border-top: 0.1px solid #5454554f; */
  /* border-bottom: 0.1px solid #5454554f; */
  padding: 4px 0px;
  font-family: "Manrope", sans-serif;
  color: #666666;
  width: 20%;
  text-align: center;
  font-weight: 600 !important;
  font-size: 14px;
  /* border: 2px solid red; */
  margin: 0px !important;
  margin-bottom: 4px !important;
}
.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content
  table
  tbody
  tr {
  height: 36px !important;
}
.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content
  table
  tbody
  tr
  .paid {
  color: #0bad0b80;
  /* background-color: #a3fda3; */
}
.main_body
  .center_mid
  .center
  .center_right
  .table-container
  .table_content
  table
  tbody
  tr
  .due {
  color: #ff080880;
}

@media screen and (min-width: 900px) and (max-width: 1430px) {
  .main_body
    .center_mid
    .center
    .center_right
    .table-container
    .table_content
    table
    tbody
    tr
    td {
    padding: 4px 0px;
    font-family: "Manrope", sans-serif;
    color: #666666;
    width: 20%;
    text-align: center;
    font-weight: 600 !important;
    font-size: 8px;

    margin: 0px !important;
    margin-bottom: 4px !important;
  }
  .main_body .center_mid .center .graph .bar_graph .bar {
    width: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .jan_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 91%;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }

  .main_body .center_mid .center .graph .bar_graph .bar .feb_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .mar_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    margin-top: 40px;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }

  .main_body .center_mid .center .graph .bar_graph .bar .apr_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    margin-top: 32px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }

  .main_body .center_mid .center .graph .bar_graph .bar .may_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
    margin-top: 16px;
  }

  .main_body .center_mid .center .graph .bar_graph .bar .july_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    margin-top: 38px;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .aug_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    margin-top: 48px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .june_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    margin-top: 3px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .sep_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    margin-top: 2px;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .oct_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
    margin-top: -6px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .nov_graph {
    width: 100%;
    transition: background-color 0.3s;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-bottom: 2px;
    margin-top: 38px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .dec_graph {
    width: 100%;
    margin-bottom: 2px;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-top: 36px;
    transition: background-color 0.3s;
  }
  .main_body .center_mid .center .graph .top_graph .month_Rev .icon {
    display: inline-flex;
    color: #777b85;
    font-size: 21px;
  }
  .main_body .center_mid .center .graph .top_graph .month_Rev .amount {
    font-family: "Manrope", sans-serif;
    font-size: 15px;
  }
  .main_body .center_mid .center .graph .top_graph h4 {
    margin-bottom: 2px;
    font-family: "Manrope", sans-serif;
    color: #777b85;
    font-size: 14px;
  }
  .main_body .center_mid .center .graph .bar_graph .bar .dec_graph {
    width: 100%;
    margin-bottom: 2px;
    height: 95%;
    border-radius: 4px;
    background-color: #b3b4b64f;
    margin-top: 36px;
    transition: background-color 0.3s;
  }
  .main_body .main_center .totals .total_revenus .total_botom .common_text {
    color: rgb(62, 62, 62);
    font-size: 20px;
    font-family: Roboto, sans-serif;
    margin: 0px 5px 0px 0px;
  }
  .main_body
    .main_center
    .totals
    .total_revenus
    .total_botom
    .common_text_icon {
    color: rgb(119, 123, 133);
    font-size: 25px;
  }
  .main_body
    .main_center
    .totals
    .total_revenus
    .total_botom
    .total_sign
    .total_icon {
    font-size: 9px;
  }
  .main_body .main_center .totals .total_revenus .total_botom .total_sign {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    color: #00b900;
    font-size: 10px;
    width: 35px;
    height: 17px;
    border-radius: 8px;
    background-color: #09db0929;
  }
}
