.main_body .main_center .center_mid .center_bottom {
  width: 100%;
  height: 45%;
  /* border: 1px solid blue; */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.main_body .main_center .center_mid .center_bottom .activites {
  width: 38%;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_heading {
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  color: #777b85;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  /* padding: 0px 2%; */
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content::-webkit-scrollbar {
  overflow-y: scroll;
  width: 0px;
  scroll-behavior: smooth;
}

.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: 8px; */
  height: 80%;
  width: 100%;
  /* border: 2px solid red; */
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .person_info {
  /* border: 1px solid red; */
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 30px;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .person_info
  img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .person_info
  .profile_gap {
  height: 50px;
  width: 5.5px;
  border-radius: 2px;
  margin: 20px 0px;
  background-color: #d2d0d0;
  /* border: 2px solid red; */
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info {
  /* border: 1px solid red; */
  height: 90%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info
  .invoice_icon {
  color: rgb(4, 189, 4);
  display: inline-flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info
  .invoice_icon
  .new_invoice {
  margin-right: 8px;
  margin-bottom: 3px;
}

.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info
  .invoice_detail
  span {
  font-weight: 600;
}

.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info
  .invoice_detail {
  /* border: 2px solid red; */
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  margin-left: 2px;
}
.main_body
  .main_center
  .center_mid
  .center_bottom
  .activites
  .activites_content
  .created_invoice
  .invoice_info
  .invoice_time {
  /* border: 2px solid red; */
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  /* margin-left: 2px; */
  font-weight: 600;
  color: #a8a8a8;
  margin-top: 20px;
}

.main_body .main_center .center_mid .center_bottom .pending_task {
  width: 60%;
  border-radius: 13px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
@media screen and (min-width: 950px) and (max-width: 1330px) {
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .person_info
    img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .person_info
    .profile_gap {
    height: 50px;
    width: 5.5px;
    border-radius: 2px;
    margin: 10px 0px;
    background-color: rgb(210, 208, 208);
  }
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .invoice_info {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .invoice_info
    .invoice_icon {
    color: rgb(4, 189, 4);
    display: inline-flex;
    align-items: center;
    font-family: Manrope, sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .invoice_info
    .invoice_detail {
    font-family: Manrope, sans-serif;
    font-size: 12px;
    margin-left: 2px;
  }
  .main_body
    .main_center
    .center_mid
    .center_bottom
    .activites
    .activites_content
    .created_invoice
    .invoice_info
    .invoice_time {
    font-family: Manrope, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: rgb(168, 168, 168);
    margin-top: 4px;
  }
}
