@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.sidenav {
  /* border: 1px solid red; */
  width: 230px;
  height: 95vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 100%;
}
.logo {
  /* border: 2px solid blue; */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.sidenav .navbar {
  /* border: 1px solid blue; */
  width: 90%;
  height: 60%;
  padding: 6px;
}

.sidenav .navbar .navbar_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidenav .navbar .navbar_list li a {
  /* border: 1px solid red; */
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 37px;
  border-radius: 6px;
  margin-bottom: 8px;
}
.sidenav .navbar .navbar_list li a .icon {
  font-size: 15px;
  margin-left: 25%;
  color: #777b85;
}
.sidenav .navbar .navbar_list li a .icon_text {
  font-size: 14px;
  margin-left: 12px;
  color: #777b85;
  font-family: "Manrope", sans-serif;
}

.sidenav .navbar_bottom {
  width: 90%;
  height: 20%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenav .navbar_bottom .logout {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 37px;
  border-radius: 6px;

  color: #777b85;
  background-color: transparent;
  border: none;
}
.sidenav .navbar_bottom .logout .icon {
  font-size: 20px;
  margin-left: 25%;
  color: #777b85;
}
.sidenav .navbar_bottom .logout .icon_text {
  font-size: 17px;
  margin-left: 12px;
  color: #777b85;
  font-family: "Manrope", sans-serif;
}

.sidenav .navbar .navbar_list li a:hover span,
.sidenav .navbar .navbar_list li a:hover,
.sidenav .navbar_bottom .logout:hover span,
.sidenav .navbar_bottom .logout:hover {
  background-color: #0560fd;
  color: white;
  cursor: context-menu;
}
@media screen and (min-width: 600px) and (max-width: 1330px) {
  .sidenav {
    /* border: 1px solid red; */
    width: 12%;
    height: 95vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100%;
  }
  .sidenav .navbar .navbar_list li a .icon {
    font-size: 15px;
    margin-left: 0%;
    color: #777b85;
  }
  .sidenav .navbar_bottom .logout .icon {
    font-size: 15px;
    margin-left: 0%;
    color: #777b85;
  }
  .sidenav .navbar_bottom {
    width: 90%;
    height: 20%;
    padding: 6px;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .sidenav .navbar_bottom .logout .icon_text {
    font-size: 14px;
    margin-left: 12px;
    color: #777b85;
    font-family: "Manrope", sans-serif;
  }
  .sidenav .navbar .navbar_list li a {
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 37px;
    border-radius: 6px;
    margin-bottom: 0px;
  }
}
