* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #d8eaf8;
  position: relative;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #deeaf4;
  padding: 8px;
}
.main_body {
  /* border: 2px solid red; */
  width: 85%;
  height: 97vh;
}
